.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

 
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.node {
  float: left;
  text-align: center;
  vertical-align: bottom;
  margin: 2px;
}
